html, body, header, img, nav, ul, li, h2, section, a,
p, figure, aside, ol, form, label, input,
option, textarea, footer {
  font-size: 100%;
  boder: 0px;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

p {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1.2;
}

h2 {
  font-size: 100%;
}
