h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}
body {
  font-family: Arial, sans-serif;
}

.ingredients-list {
  list-style: square inside;
}

.directions-list {
  list-style: circle inside;
}

header > img {
  width: 100px;
}

ul > li > a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: aliceblue;
}

figure, img {
  width: 500;
}

input[type="radio"] {
  cursor: pointer;
  outline: none;
}

ol li:nth-of-type(2n) {
  background-color: greenyellow;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

h4 + p {
  border-top: 1px solid black;
}
